@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bl3y9e');
  src:  url('../fonts/icomoon.eot?bl3y9e#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?bl3y9e') format('truetype'),
  url('../fonts/icomoon.woff?bl3y9e') format('woff'),
  url('../fonts/icomoon.svg?bl3y9e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_applist:before {
  content: "\e918";
  color: #6477f2;
}
.icon-ic_about_s:before {
  content: "\e900";
  color: #d5dfed;
}
.icon-ic_about:before {
  content: "\e901";
  color: #fff;
}
.icon-ic_addgp:before {
  content: "\e902";
  color: #6477f2;
}
.icon-ic_andr:before {
  content: "\e903";
  color: #6477f2;
}
.icon-ic_api_s:before {
  content: "\e904";
  color: #d5dfed;
}
.icon-ic_api:before {
  content: "\e905";
  color: #fff;
}
.icon-ic_appdes:before {
  content: "\e906";
  color: #9b9b9b;
}
.icon-ic_appsetting-copy:before {
  content: "\e907";
  color: #9b9b9b;
}
.icon-ic_company_s:before {
  content: "\e908";
  color: #9b9b9b;
}
.icon-ic_delete:before {
  content: "\e909";
  color: #d5dfed;
}
.icon-ic_downdrop:before {
  content: "\e90a";
}
.icon-ic_download_s:before {
  content: "\e90b";
  color: #fff;
}
.icon-ic_download:before {
  content: "\e90c";
  color: #d5dfed;
}
.icon-ic_edit:before {
  content: "\e90d";
  color: #d5dfed;
}
.icon-ic_email_s:before {
  content: "\e90e";
  color: #9b9b9b;
}
.icon-ic_email:before {
  content: "\e90f";
  color: #6477f2;
}
.icon-ic_github_s:before {
  content: "\e910";
  color: #d5dfed;
}
.icon-ic_github:before {
  content: "\e911";
  color: #fff;
}
.icon-ic_greyfb:before {
  content: "\e912";
  color: #6376f2;
}
.icon-ic_help_s:before {
  content: "\e913";
  color: #d5dfed;
}
.icon-ic_help:before {
  content: "\e914";
  color: #fff;
}
.icon-ic_info:before {
  content: "\e915";
  color: #d5dfed;
}
.icon-ic_ios:before {
  content: "\e916";
  color: #6477f2;
}
.icon-ic_mnggp-copy:before {
  content: "\e917";
  color: #f5a623;
}
.icon-ic_name:before {
  content: "\e919";
  color: #6477f2;
}
.icon-ic_notice:before {
  content: "\e91a";
  color: #9b9b9b;
}
.icon-ic_overview:before {
  content: "\e91b";
  color: #d5dfed;
}
.icon-ic_phone_s:before {
  content: "\e91c";
  color: #9b9b9b;
}
.icon-ic_position_s:before {
  content: "\e91d";
  color: #9b9b9b;
}
.icon-ic_pswd:before {
  content: "\e91e";
  color: #6477f2;
}
.icon-ic_qq:before {
  content: "\e91f";
  color: #9b9b9b;
}
.icon-ic_search:before {
  content: "\e920";
  color: #6477f2;
}
.icon-ic_upload:before {
  content: "\e921";
  color: #fff;
}
.icon-ic_vision:before {
  content: "\e922";
}
.icon-ic_add:before {
  content: "\ea0a";
  color: #fff;
}
